# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel"] 
    destdir = "host-knc"

    # pseudo modules and so on that are assumed as available
    provides = [
      "tag/cpu/amd64",
      "tag/cpu/pause",
      "tag/cpu/clflush",
      "tag/mode/host",
      "tag/platform/pc",
      "tag/compiler/gcc",
      "unordered_map",
      "fstream",
      ] 

    requires = [
      "xmicterm",
      ]

    modules = [ "gitignore" ]
