# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel"]
    destdir = "kernel-ihk"

    # pseudo modules and so on that are assumed as available
    provides = [
      "tag/cpu/amd64",
      "tag/cpu/pause",
      "tag/cpu/clflush",
      "tag/cpu/xapic",
      "tag/cpu/amd64ioapic",
      "tag/mode/kernel",
      "tag/platform/pc",
      "tag/compiler/gcc",
      "tag/boot/ihk",
      "tag/boot/multiboot",
      "tag/cap/spinning",
      ]

    requires = [
      "boot64.elf",
      "Makefile",
      ]

    modules = [
      "doxygen",
	  "kernel-amd64-ihk",
      "gitignore",
      "thread-mutex-delegating",
#      "thread-mutex-tidex",
#      "plugin-test-places",
#      "plugin-test-caps",
      "app-init-example",
    ]

[config.vars]
    mythos_root = ".."
    cxx_path = "../3rdparty/cxx-amd64/usr"
