# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel"]
    destdir = "kernel-knc"

    # pseudo modules and so on that are assumed as available
    provides = [
      "tag/cpu/amd64",
      "tag/cpu/delay",
      "tag/cpu/clevict",
      "tag/cpu/kncapic",
      "tag/mode/kernel",
      "tag/platform/knc",
      "tag/compiler/gcc",
      "tag/boot/sfi",
      "tag/cap/spinning",
      ]

    requires = [
      "boot64.elf",
      ]

    modules = [
      "gitignore",
      "thread-mutex-delegating",
      "plugin-dump-multiboot",
      "plugin-cpudriver-knc",
#      "app-init-example",
      "app-init-benchmark",
    ]
