# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel", "arch-config"]
    destdir = "kernel-modi"
    
    provides = [
      "tag/cpu/x2apic"
    ]

    modules = [
      "arch-amd64",
      "doxygen",
      "gitignore",
      "thread-mutex-delegating",
#      "thread-mutex-tidex",
#      "plugin-test-places",
#      "plugin-test-caps",
      "plugin-dump-multiboot",
      "plugin-rapl-driver-intel",
      "app-init-example",
      #"test-synchronous-task",
      "local-x2apic",
      "objects-thread-team",
      "topology-modi"
    ]

[config.vars]
    mythos_root = ".."
    cxx_path = "../3rdparty/cxx-amd64/usr"
    tbb_build_path = "../3rdparty/tbb/build/my_tbb_release"
    tbb_inc_path = "../3rdparty/tbb/include"
