# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel", "arch-config"]
    destdir = "kernel-knc"

    # pseudo modules and so on that are assumed as available
    provides = [
      ]

    requires = [
      "boot64.elf",
      "Makefile",
      ]

    modules = [
      "arch-knc",
      "gitignore",
      "thread-mutex-delegating",
      "plugin-dump-multiboot",
      "plugin-cpudriver-knc",
      "app-init-example",
      "kernel-idle-knc",
    ]

[config.vars]
    mythos_root = ".."
    cxx_path = "../3rdparty/cxx-knc/usr"
