# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel", "arch-config"]
    destdir = "kernel-amd64"
    
    provides = [
    ]

    modules = [
      "arch-amd64",
      "doxygen",
      "gitignore",
      "thread-mutex-delegating",
#      "thread-mutex-tidex",
#      "plugin-test-places",
#      "plugin-test-caps",
      "plugin-dump-multiboot",
      "app-init-example",
      "test-synchronous-task",
    ]

[config.vars]
    mythos_root = ".."
    cxx_path = "../3rdparty/cxx-amd64/usr"
