# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel"]
    destdir = "kernel-amd64"

    # pseudo modules and so on that are assumed as available
    provides = [
      "tag/cpu/amd64",
      "tag/cpu/pause",
      "tag/cpu/clflush",
      "tag/cpu/xapic",
      "tag/mode/kernel",
      "tag/platform/pc",
      "tag/compiler/gcc",
      "tag/boot/intelmp",
      #"tag/boot/acpi",
      "tag/boot/multiboot",
      "tag/cap/spinning"
      ]

    requires = [
      "boot32.elf",
      "tag/emu-qemu",
      "tag/emu-bochs",
      ]

    modules = [
      "doxygen",
      "gitignore",
      "thread-mutex-delegating",
#      "plugin-test-places",
#      "plugin-test-caps",
      "plugin-dump-multiboot",
      "plugin-cpudriver-knc",
      "app-init-example",
    ]

[config.vars]
    mythos_root = ".."
