# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["kernel", "arch-config"]
    destdir = "kernel-ihk"

    provides = [
    ]

    modules = [
      "arch-ihk",
      "doxygen",
      "kernel-amd64-ihk",
      "gitignore",
      "thread-mutex-delegating",
#      "thread-mutex-tidex",
#      "plugin-test-places",
#      "plugin-test-caps",
      "app-init-example",
    ]

[config.vars]
    mythos_root = ".."
    cxx_path = "../3rdparty/cxx-amd64/usr"
    tbb_build_path = "../3rdparty/tbb/build/my_tbb_release"
    tbb_inc_path = "../3rdparty/tbb/include"
